---
---

@import "{{ site.theme }}";

// Add your custom CSS rules here
body {
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  color: #fffdfd;
}


.page-header {
    background-color: #000000;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }