---
---

@import "{{ site.theme }}";

// Add your custom CSS rules here
body {
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  color: #333;
}

.page-header {
    background-color: #159957;
    background-image: none; // Remove the default gradient
  }